
<div class="container">
    <div class="card text-white bg-dark">
      <div class="card-header">
        <h2 class="display-9"> Meet the team</h2>
      </div>

    </div>
    <div class="row">
      <div class="col">
        <div class="card" >
              <img class="card-img-top" src="/assets/javier.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Javier Tovar</h5>
                <p class="card-text">Founder and Lead FullStack Developer</p>
                <p class="card-text">Georgia State University Graduate </p>

              </div>
                <ul class="list-group list-group-flush">
              <li class="list-group-item"><a href="https://github.com/jtovar2"><i class="fa fa-github"></i> GitHub</a></li>
              <li class="list-group-item"><a href="https://instagram.com/el_gato_voladoor"><i class="fa fa-instagram"></i> Instagram</a></li>
              <li class="list-group-item"> <a href="https://www.linkedin.com/in/javier-tovar-942b75102/"><i class="fa fa-linkedin"></i> LinkedIn</a></li>
            </ul>
        </div>
      </div>
      <div class="col">
        <div class="card">
              <img class="card-img-top" src="/assets/zahi.jpg " alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Zahir Eaton</h5>
                <p class="card-text">Co-Founder and FullStack Developer </p>
                <p class="card-text">Georgia State University Graduate </p>
              </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item"><a href="https://github.com/Zahir234"><i class="fa fa-github"></i> GitHub</a></li>
                  <li class="list-group-item"><a href="https://instagram.com/eatonzahir"><i class="fa fa-instagram"></i> Instagram</a></li>
                  <li class="list-group-item"> <a href="https://www.linkedin.com/in/zahir-stewart-eaton-636b5113b/"><i class="fa fa-linkedin"></i> LinkedIn</a></li>
                </ul>
      </div>
    </div>

      <div class="col">
        <div class="card">
            <img class="card-img-top" src="/assets/kelsey.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Kelsey Murrell</h5>
              <p class="card-text">Product Manager and Communications Specialist</p>
              <p class="card-text">Georgia State University Graduate </p>
            </div>

              <ul class="list-group list-group-flush">
                <li class="list-group-item"><a href="https://github.com/jtovar2"><i class="fa fa-github"></i> GitHub</a></li>
                <li class="list-group-item"><a href="https://instagram.com/b.elsey"><i class="fa fa-instagram"></i> Instagram</a></li>
                <li class="list-group-item"> <a href="https://www.linkedin.com/in/kelsmurrell/"><i class="fa fa-linkedin"></i> LinkedIn</a></li>
              </ul>
        </div>
      </div>

      <div class="col">
        <div class="card">
            <img class="card-img-top" src="/assets/wes.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Wesley McArthur</h5>
              <p class="card-text">Business Development and Supply Chain Management</p>
              <p class="card-text">Royal Melbourne Institue of Technology University</p>
            </div>

              <ul class="list-group list-group-flush">
                <li class="list-group-item"><a href="https://github.com/jtovar2"><i class="fa fa-github"></i> GitHub</a></li>
                <li class="list-group-item"><a href="https://instagram.com/wesleymcarthur77"><i class="fa fa-instagram"></i> Instagram</a></li>
                <li class="list-group-item"> <a href="https://www.linkedin.com/in/wesley-mcarthur-bbb214150/"><i class="fa fa-linkedin"></i> LinkedIn</a></li>
              </ul>
        </div>
      </div>

</div>




 



