<div class="container">
    <div class="card bg-warning">
      <div class="card-header">
        <h1 class="display-7"> Meet the team</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-4 ">
        <div class="card" >
              <img class="card-img-top" src="/assets/javier.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Javier Tovar</h5>
                <p class="card-text">Software Developer</p>
                <p class="card-text">Georgia State Graduate </p>

              </div>
                <ul class="list-group list-group-flush">
              <li class="list-group-item"><a href="https://github.com/jtovar2"><i class="fa fa-github"></i> GitHub</a></li>
              <li class="list-group-item"><a href="https://instagram.com/el_gato_voladoor"><i class="fa fa-instagram"></i> Instagram</a></li>
              <li class="list-group-item"> <a href="https://www.linkedin.com/in/javier-tovar-942b75102/"><i class="fa fa-linkedin"></i> LinkedIn</a></li>
            </ul>
        </div>
      </div>

      <div class="col-12 col-md-4 ">
        <div class="card">
            <img class="card-img-top" src="/assets/kelsey.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Kelsey Murrell</h5>
              <p class="card-text">Product Management</p>
              <p class="card-text">Georgia State Graduate </p>

            </div>
              <ul class="list-group list-group-flush">
            <li class="list-group-item"><a href="https://github.com/jtovar2"><i class="fa fa-github"></i> GitHub</a></li>
            <li class="list-group-item"><a href="https://instagram.com/b.elsey"><i class="fa fa-instagram"></i> Instagram</a></li>
            <li class="list-group-item"> <a href="https://www.linkedin.com/in/javier-tovar-942b75102/"><i class="fa fa-linkedin"></i> LinkedIn</a></li>
          </ul>
        </div>
      </div>

      <div class="col-12 col-md-4 ">
        <div class="card">
              <img class="card-img-top" src="/assets/vietnam.jpg " alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Zahir Eaton</h5>
                <p class="card-text">Software Developer</p>
                <p class="card-text">Georgia State Graduate </p>
              </div>
                <ul class="list-group list-group-flush">
              <li class="list-group-item"><a href="https://github.com/Zahir234"><i class="fa fa-github"></i> GitHub</a></li>
              <li class="list-group-item"><a href="https://instagram.com/eatonzahir"><i class="fa fa-instagram"></i> Instagram</a></li>
              <li class="list-group-item"> <a href="https://www.linkedin.com/in/javier-tovar-942b75102/"><i class="fa fa-linkedin"></i> LinkedIn</a></li>
            </ul>
      </div>
    </div>
</div>




 



