<div class="container">
<div class="card bg-warning">
  <div class="card-header">
    <h1 class="display-7"> Meet the team</h1>
  </div>
</div>
<div class="card-columns">   

  <div class="card bg-light">
    <img class="card-img-top" src="" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Javier Tovar</h5>
      <p class="card-text">Javier has been on a journey to a life dedicated to Computer Science, Helping People and Building Services to do so. Javiers goal is to help the world through being innovative services and necessities.
      </p>
    </div>
    <ul class="list-group list-group-flush">
    <li class="list-group-item">Data Analytics</li>
    <li class="list-group-item">Full Stack Coding</li>
    <li class="list-group-item">Constructin and Devloping</li>
  </ul>
  </div>
  
  <div class="card bg-light">
    <img class="card-img-top" src="" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Zahir Eaton</h5>
      <p class="card-text">Like his partner, Zahir too has begun a journey dedicated to exploring just what is possible when you apply your mind to creating services and applications.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
      <ul class="list-group list-group-flush">
    <li class="list-group-item">Design</li>
    <li class="list-group-item">Fullstack Coding </li>
    <li class="list-group-item">Communication </li>
  </ul>
  </div>

 



</div>




</div>
