

<div class="jumbotron jumbotron-fluid bg-light text-dark">
  <div class="container">
    <h1 class="display-4">Got an Idea?</h1>
    <p class="lead">Let us make it for you. We'll code your app and create your service!</p>
  </div>
</div>
	
		<div class="col-12">
			<div class="card" >
			  <img class="card-img-top" src="/assets/island.jpg" alt="Card image cap">
			  <div class="card-body">
			    <h5 class="card-title">Kelsey Murrell</h5>
			    <p class="card-text">Product Manager, Communication Specialist</p>
			  </div>
			  <ul class="list-group list-group-flush">
			    <li class="list-group-item">404-710-3335</li>
			    <li class="list-group-item">kels.murrell@atlantaappfactory.com</li>
			  </ul>
			</div>
		</div>
 

