<div class="jumbotron">
  <h1 class="p-3 mb-2 text-white bg-dark display-4">Got an Idea?</h1>
  <p class="p-3 mb-2 text-white bg-info lead">Let us make it for you. We'll code your app and create your service!</p>

</div>


	
		<div class="col-12-mb-2">
			<div class="card" >
			  <div class="card-body">
			    <h5 class="card-title">Kelsey Murrell</h5>
			    <p class="card-text">Product Manager, Communication Specialist</p>
			  </div>
			  <ul class="list-group list-group-flush">
			    <li class="list-group-item">404-710-3335</li>
			    <li class="list-group-item"><a href="mailto:kelsey.murrell@atlantaappfactory.com?Subject=I've%20got an idea!" target="_top">kelsey.murrell@atlantaappfactory.com</a></li>
			  </ul>
			</div>
		</div>
 

