
<div class="container">
	<div class="card text-white bg-dark">
      <div class="card-header">
        <h2 class="display-7"> What we have made</h2>
      </div>
    </div>

	<div class="alert alert-secondary" role="alert">
	  <h4 class="alert-heading"><a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">sMARTA</a></h4>
	  <p>MARTA's real time rail API X Goole Home. Conversational app that tells you info about MARTA. This was for HackGSU.</p>

	</div>
	<div class="collapse" id="collapseExample">
		<div class="card card-body">
			<div class="col-12 col-md-6 offset-md-3">

				  	<div class="embed-responsive embed-responsive-16by9">
			  		<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/dVk9szFaxJc" allowfullscreen></iframe>
					</div>
	
			</div>
		</div>
	</div>



	<div class="alert alert-secondary" role="alert">

	  <h4 class="alert-heading">
	  	<a href="http://zs-project.appspot.com/#/"><span class="badge badge-success">Street Smartz ATL</span></a> 
	  </h4>

	  	<p>A Google Maps Walking clone with APD crime data visualizations. This was for PantherHackers</p>

	</div>


	<div class="alert alert-secondary" role="alert">
		  	<h4><button class="btn btn-warning text-white display-7" type="button" data-toggle="collapse" data-target=".multi-collapse" aria-expanded="false" aria-controls="multiCollapseExample1 multiCollapseExample2">Why we made it</button></h4>
	</div>

	<div class="row">
		  <div class="col">
		    <div class="collapse multi-collapse" id="multiCollapseExample1">
		      <div class="jumbotron">
  				<h1 class="display-4">sMarta</h1>
  				<p class="lead">
		        The purpose of the "sMarta" app was to make an application that is not only cool and creative, but most important useful. By turning human-like phrases into entities that can be read a variable to provide the correct information through API calls, we were able to create a google-home-based application that presents the user with accurate information on online rail-times and available amenities at all Marta Stations. 
		    	</p>
		      </div>
		    </div>
		  </div>
		  <div class="col">
		    <div class="collapse multi-collapse" id="multiCollapseExample2">
		      <div class="jumbotron">
  				<h1 class="display-4">Street Smartz</h1>
  				<p class="lead">
		        With "Street Smartz", we wanted to create something not aggressively innovative, but progressively useful. With the global eco-friendly trend, the use of cars has digressed as time has progress. Just as time is recognized as a global entity, crime as well is a global occurence that can happen no matter where you are. We figured something useful to pedestrians around the world would be a system that could tell people what the most criminally populated areas were in their stroll. 
		    	</p>
		      </div>
		    </div>
		  </div>
		</div>

</div>
