
<div class="container">
	<div class="card text-white bg-dark">
      <div class="card-header">
        <h2 class="display-7"> Check out some of the cool things we have made.</h2>
      </div>
    </div>

	<div class="alert alert-secondary" role="alert">
	  <h4 class="alert-heading">sMARTA</h4>
	  <p>MARTA's real time rail API X Goole Home. Conversational app that tells you info about MARTA. This was for HackGSU.</p>

	</div>
	
	<div class="row">
	  <div class="col-12 col-md-6 offset-md-3">

		  <div class="embed-responsive embed-responsive-16by9">
	  		<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/dVk9szFaxJc" allowfullscreen></iframe>
			</div>

		</div>	
	</div>


	<div class="alert alert-secondary" role="alert">

	  <h4 class="alert-heading">
	  	<a href="http://zs-project.appspot.com/#/"><span class="badge badge-success">Street Smartz ATL</span></a> 
	  </h4>

	  	<p>A Google Maps Walking clone with APD crime data visualizations. This was for PantherHackers</p>

	</div>

</div>
