





<div class="container-fluid">
	<app-nav></app-nav>
  
<router-outlet></router-outlet>
<br>

<app-footer></app-footer>
</div>



<!-- <div class="card bg-dark text-white">
  <img class="card-img" src="assets/background.jpg"alt="Card image">
    <div class="card-img-overlay">
        <h5 class="card-title">Atlanta Appfactory</h5>
            <p class="card-text">Software products as a service. Scalable and reliable software solutions for your business's needs</p>
                <p class="card-text">Last updated 3 mins ago</p>
                  </div>
                  </div> -->



