  <div class="jumbotron">
	  <h1 class="display-4">Atlanta <span class="badge badge-pill badge-secondary">Appfactory</span></h1>
	  <blockquote class="blockquote">
	  	<p class="mb-0">Software products as a service. Scalable and reliable software solutions for your business's needs</p>

	  </blockquote>
  </div>


<div class="row justify-content-center">
	<div class="col-12 col-md-6 mb-3">


		  <div class="card">
		  <div class="card-header">
		  	<i class="fa fa-hashtag" aria-hidden="true"></i> Applications
		  </div>
		  <div class="card-body">
		    <h5 class="card-title">Need help developing your idea?</h5>
		    <p class="card-text">We develop and manage the software, so you can focus on your business</p>

				    <dl>
				    	<dt>Leverage our infrastructure</dt>
				    	<dd>We strive to provide reliable and scalable products</dd>
				    </dl>
				    <dl>
				    	<dt>Experience with many devices and platforms</dt>
				    	<dd>Whether it's twitter bots, phone apps or even blockhain tools, we have done it</dd>
				    </dl>
				    <dl>
				    	<dt>Security</dt>
				    	<dd>We implement industry standards in all of our sofware</dd>
				    </dl>

		    

		    
		  </div>
		</div>
	</div>

	<div class="col-12 col-md-6">
		<div class="card">
		  <div class="card-header">
		    <i class="fa fa-cloud" aria-hidden="true"></i> APIs
		  </div>
		  <div class="card-body">
		    <h5 class="card-title">Want to automate a business process??</h5>
		    <p class="card-text">We can help optimize your business with custom automated services</p>





 				    <dl>
				    	<dt>Wide range of data formats supported</dt>
				    	<dd>Excel Workbooks, databases, social media posts, you name it, we can process it</dd>
				    </dl>
				    <dl>
				    	<dt>Experience with many different tools and public APIs</dt>
				    	<dd>Don't reinvent the wheel, we will help leverage it</dd>
				    </dl>
				    <dl>
				    	<dt>Automate the tedius tasks</dt>
				    	<dd>Got a repetitive process?? Tell us about it</dd>
				    </dl>


		  </div>
	</div>
</div>
</div>